<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threebitter.beacons.tbbltsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContentListActivity"
            android:label="@string/title_activity_content_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ContentActivity"
            android:label="@string/title_activity_content"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.threebitter.DeveloperAppCode"
            android:value="TbBTGenericTestCode" />

        <meta-data
            android:name="com.threebitter.MaxCount"
            android:value="20" />

        <service
            android:name="com.threebitter.sdk.service.BeaconService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false" />

        <service
            android:name="com.threebitter.sdk.service.BeaconProcessor"
            android:enabled="true"
            android:exported="false" />

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
